/* General CSS __________________________________________________________________________________*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open S';
    font-weight : 100;
    margin: 0 0 0 0;
    line-height: 1.5em;
}
            /*Titles format ___________________________________________________*/
            
            h1, h2, h3, h4, h5 {
                font-family: bebas-kai, sans-serif;
                font-weight: 300;
                font-style: normal;
                margin-top: 0;
            }

            h2 {
                font-size : 1.8em;
            }

            h3 {
                font-size: 1.4em;
            }

            h4 {
                margin : 0 0 0 0;
            }

ul {
    list-style: none;
    padding: 0;
}

/*Black Sections__________________________________________________________________________________*/ 

.section-content {
    padding : 3em 14em 3em 14em;
}

.black-section {
    background-color: black;
    color: white;
}
#opportunities h3 {
    margin : 0 0 3em 0;
}

.grid4x1 {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid4x1 div {
    padding-right : 1em;
    flex : 1 1 200px;
}

/* List box__________________________________________________________________________________*/

.list-box {
    border: solid black 1px;
    box-shadow : -3px 3px 0px #000000;
    padding : 1em;
    margin-bottom : 1em;
}

.box-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top : 2.2em;
}

.list-box h3 {
    margin : 0 0 0 0;
    border-bottom: solid black 1px;
}

.list-box a, .list-box li {
    color :black;
    margin : 1em 0 0 0;
}



/* Specific CSS __________________________________________________________________________________*/

/* HEADER__________________________________________________________________________________*/

.banner {
    display: flex;
    background-image: url(./assets/squares.svg);
    background-size: cover;
    background-position: center;
    height : 15.5em;
    width: 100%;
    align-items: center;
}

.banner h1 {
    margin: 0.05em 0 0 4.4em;
    font-size : 3.2em;
}

nav {
    position: -webkit-sticky;
    position : sticky;
    top: 0;
    z-index: 50;
}

nav ul {
    color : white;
    background-color: black;
    height: 3.5em;;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding : 0 0 0 0;
    margin: 0 0 0 0;
}

.header-content {
    height : 23vw;
    display: flex;
    justify-content: space-between;
}


        /* Left text block in header ___________________________*/

        .header-content h2 {
            margin : 0 0 0 0;
        }

        .header-content p, .header-content ul {
            text-decoration: underline;
        }

        #email {
            display : inline;
            background-color: yellow;
            text-decoration: underline ;
        }

        #fake-button1 {
            padding : 0.5em;
            color : black;
            text-decoration: none;
            border: solid 1px black;
            background-color: white;
        }

        #fake-button1:hover {
            box-shadow : -3px 3px 0px #000000;
            transform: translate3d(1em,1em,1em); /*Tried to make it move with this, but doesnt seem to work*/
        }

        .header-content div ul {
            display: flex;
            justify-content: space-between;
            font-size : 0.8em;
            flex-wrap: wrap;
        }

        iframe {
            width : 50%;
            filter : drop-shadow(-3px 3px 0px #000000);
        }

        .header-content li {
            margin-right : 0.6em;
        }

#different h3 {
    margin-bottom : 2em;
}

/* Partners - logos__________________________________________________________________________________*/

.logos {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap : 1.5em;
    align-items: center;
}

.logos img {
    width : 90%;
    filter : grayscale(100%)
}

/* Footer__________________________________________________________________________________*/

footer {
    font-size: 0.8em;
    line-height: 2.4em;;
}

.gettouch a {
    text-decoration : underline;
}

footer .grid4x1 {
    margin-bottom : 5em;
}

